*,
*::before,
*::after
 {
  box-sizing: border-box;
}

body
 {
  
  line-height: 1.6;
  background-color: var(--peche);
  
}


p
{
 font-family:var(--font-main );
 margin: 30px;
}

h1, h2, h3, h4
{
  font-family: var( --font-h);
  margin-left: 25px;
  font-weight: 800;
}

h1 
{
  font-size: var(--titre);
  
}
.p404{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.p404 img{
  margin-top: 30px;
  width: 60%;
}

h2 ,h3,h5
 {
  font-size: var(--sous-titre);
  width: 375px;
  height: 50px;
  background-color: var(--orange-fond);
  font-size: 17px;
  font-family: var(--font-main);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left:0px ;
  color: var(--noir);
  

}
/* mots rouge */
.complex{
  color: var(--mots-complexe);
}
/* les résumer */
.tweet h4
 {
   font-family: var(--font-h);
   font-size: var(--sous-titre);
   line-height: 1.4;
   margin: 12px;
}

.tweet,
.tweet2,
.tweet3
{
  background-color: var(--orange-fond);
  color: var(--noir);
  margin-top: 100px;
  margin-bottom: 230px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: var(--font-h);
  font-size: var(--sous-titre);
}
.tweet{
  height: 282px;
}
.tweet2{
  height: 377px;
}
.tweet3{
  height: 350px;
}

.tweet a{
  color: var(--noir);
  z-index: 0;
  left: 301px;
  top: 167px;
  font-size: var(--texte);

}
.tweet3 a{
  color: var(--noir);
  font-size: var(--texte);


}
.tweet2 a{
  color: var(--noir);
  font-size: var(--texte);


}
.tweet img{
  z-index: -1;
}
.lire__plus{
  display: flex;
  justify-content: flex-start;
}

/* lien  */
.lien, 
.lien a
{

  width: 375px;
  height: 50px;
  background-color: var(--orange-fond);
  font-size: 17px;
  font-family: var(--font-main);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  color: var(--noir);
 
}
/* boton scroll retour*/
.re {
  position: fixed;
  width: 35px;
  height: 50px;
  bottom: 50px;
  left: 5px;
  
}

html{
  scroll-behavior: smooth;
}

.re img {
  width: 25px;
  
   
}	

/*Page Galerie */
.fig__img{
  display: flex;
  justify-content: center;
  align-items: center;

}
.ul__gal{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  list-style: none;
  font-family: var(--font-h);
  font-size: var();

}
.fig__galerie{
  display: flex;
  width: 365px;
  height: auto;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
.pck__galerie{
  display: flex;
  width: 365px;
  height: auto;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

}