/* les différents fonds d'écrans  */

.ac{
    background-image:url("/public/webp/back/Acceuil.webp") ;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.a1{
    background-image:url("/public/webp/back/Article1.webp") ;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.a2{
    background-image:url("/public/webp/back/Article2.webp") ;
    background-repeat: no-repeat;   
    background-size: cover;
    
}

.a3{
    background-image:url("/public/webp/back/Article3.webp") ;
    background-repeat: no-repeat; 
    background-size: cover;
}

.ex{
    background-image:url("/public/webp/back/Extra.webp") ;
    background-repeat: no-repeat; 
    background-size: cover;

}
.no{
    background-image:url("/public/webp/back/Formulaire.webp") ;
    background-repeat: no-repeat; 
    background-size: cover;

}
.g{
    background-image:url("/public/webp/back/Galerie.webp") ;
    background-repeat: no-repeat; 
    background-size: cover;
    
}