.images {
	margin:0;
	padding:0;
	height: 422px;
	width:2000px;
}

.images li {
	float:left;
	width:400px;
	height:400px;
	margin:0;
	padding:0;
	list-style:none;
	color:white;
	text-align:center;
	background:rgba(255, 255, 255, 0);
    
}

/* La div carrousel n'affiche que l'élément Reference*/
.carrousel {
	width:auto;
	height:430px;
	overflow-x:none;
    overflow-y: scroll;
    background-color: black;

}

.texte__js {
    font-family: var(--font_h);
   background-color: var(--orange-fond);
	color: var(--noir);
    font-size: 10px;
    font-size: var(--texte);
    position: relative;
    width: 100%;
    padding: 0px;
    z-index: 3;
    line-height: 5em;
    top: 0;
    display: none;
   
}
.visionneuse {
    grid-column: 2;
    grid-row: 2;
    padding: 1px;
    position: relative;
    overflow: hidden;
	

	
}
.fig__img {
    z-index: 0;
    position: relative;
}