.images {
	margin:0;
	padding:0;
	height: 422px;
	width:2000px;
}

.images li {
	float:left;
	width:400px;
	height:400px;
	margin:0;
	padding:0;
	list-style:none;
	color:white;
	text-align:center;
	background:rgba(255, 255, 255, 0);
    
}

/* La div carrousel n'affiche que l'élément Reference*/
.carrousel {
	width:auto;
	height:430px;
	overflow-x:none;
    overflow-y: scroll;
    background-color: black;

}

.texte__js1,
.texte__js5
{
    top: 41px;
    font-family: var(--font_h);
    background-color: var(--orange-fond);
	color: var(--noir);
    font-size: var(--texte);
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1px;
    z-index: 1;
    line-height: 5em;
    text-align: center;
}
.texte__js2,
.texte__js3,
.texte__js4

 {
    font-family: var(--font_h);
    background-color: var(--orange-fond);
	color: var(--noir);
    font-size: var(--texte);
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1px;
    z-index: 1;
    line-height: 5em;
    top: 0;
    text-align: center;
   
}
.visionneuse1,
.visionneuse2,
.visionneuse3,
.visionneuse4,
.visionneuse5 
 {
    grid-column: 2;
    grid-row: 2;
    padding: 1px;
    position: relative;
    overflow: hidden;
    
    
	}	

.visionneuse1{
    height: 275px;
    width: 218px;
}
.visionneuse2{
    height: 310px;
    width: 200px;
}
.visionneuse3{
    height: 247px;
    width: 202px;
}
.visionneuse4{
    height: 228px;
    width: 161px;
}
.visionneuse5{
    height: 175px;
    width: 229px;
} 

.fig__img1,
.fig__img2,
.fig__img3,
.fig__img4,
.fig__img5
 {
    z-index: 0;
    position: relative;
    
}