*,
*::before,
*::after
 {
  box-sizing: border-box;
}
body
 {
  
  line-height: 1.6;
  
}


p
{
 font-family:var(--font-main );
 margin: 30px;
}

h1, h2, h3, h4
{
  font-family: var( --font-h);
  margin-left: 25px;
  font-weight: 800;
}

h1 
{
  font-size: var(--titre);
  
}

h2 h3 h4
 {
  font-size: var(--sous-titre);
  

}
.complex{
  color: var(--mots-complexe);
}

.tweet h4
 {
   font-family: var(--font-h);
   font-size: var(--sous-titre);
   line-height: 1.4;
   margin: 12px;
}

.tweet{
  background-color: var(--orange-fond);
  color: var(--noir);
  margin-top: 100px;
  margin-bottom: 230px; 
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: var(--font-h);
  font-size: var(--sous-titre);
}
.tweet a{
  color: var(--noir);
  z-index: 0;
  left: 301px;
  top: 167px;
  font-size: var(--texte);

}
.tweet img{
  z-index: -1;
}
.lire__plus{
  display: flex;
  justify-content: flex-start;
}
.lien, 
.lien a
{

  width: 375px;
  height: 50px;
  background-color: var(--orange-fond);
  font-size: 17px;
  font-family: var(--font-main);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  color: var(--noir);
 
}

.re {
  position: fixed;
  width: 20px;
  height: 20px;
  bottom: 50px;
  left: 5px;
 
  
  
}
.re img {
  width: 25px;
  
   
}	
