*,
*::before,
*::after
 {
  box-sizing: border-box;
}
body
 {
  
  line-height: 1.6;
  
}

p
{
 font-family:var(--font-main );
 margin: 20px;
}

h1 h2 
{
  font-family: var( --font-h);
  font-weight: normal;
}

h1 
{
  font-size: var(--titre);
  
}

h2
 {
  font-size: var(--sous-titre);

}

.tweet h4
 {
   font-family: var(--font-h);
   font-size: var(--sous-titre);
  line-height: 1.4;
}

.tweet{
  background-color: var(--orange-fond);
  flex-direction: column ;
  margin: 30px;
  padding-bottom: 30px;
  
}
.tweet a{
  padding-left:190px  ;
  padding-top: 20px;
  color: var(--noir);
}

.carrousel {
  width: 700px;
  border: 60px ;
  text-align: center;
  font-family: var(--font-main);
}

.carrousel .photos {
  position: relative;
  height: 433px;
}

.carrousel .photos img {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.carrousel .photos img.shown {
  opacity: 1;
}

.prev:before,
.next:before {
color: #fff;
font-size: 100px;
position: absolute;
top: 35%;
cursor: pointer;
}

.prev:before {
content: '<';
left: 0;
}

.next:before {
content: '>';
right: 0;
}

