img{
    max-width: 100%;
    height:auto;
}

figure {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
  }
  
  figcaption {
    font-size: var(--text);
    color: var(--noir);
  }
